.rockImg {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .rockImg {
    top: 9vh;
  }
}
@media screen and (max-width: 768px) {
  .rockImg {
    top: 5vh;
  }
}

@media screen and (max-width: 823px) and (orientation: landscape) {
  .rockImg {
    top: -12vh;
  }
}
