.cardBox {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  // TODO hover sin que se pinten los hijos
  // .cardBox  :hover {
  //     background-color: #002129;
  //     transition: background-color 1s ease-in-out;
  //   }
  .card {
    width: 60%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 30px 30px 0 0;
    padding: 10% 0 0 10%;
    margin-top: 2.5vh;

    .cardImg {
      width: 13vh;
      height: 13vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .iconBackground {
        height: 12vh;
        position: absolute;
      }
      .iconImgApp {
        height: 8vh;
        margin-top: -3px;
        margin-left: -8px;
        position: absolute;
      }
    }
    .cardHeader {
      width: 100%;
      margin-top: 1vh;
      //   background-color: dimgray;
      h4 {
        font-size: 1.2em;
        margin: 0;
        letter-spacing: 0.1em;
      }
    }
    .cardBody {
      width: 100%;
      height: 15vh;
      //   background-color: darkslategray;
      font-size: 0.8em;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 1366px) {
  .cardBox {
    .card {
      width: 65%;
    }
  }
}
@media screen and (max-width: 754px) {
  .cardBox {
    width: 100%;
    .card {
      width: 100%;
      margin-bottom: 5vh;
      padding: 0;
      .cardImg {
        width: 15vh;
        height: 15vh;
      }
      .cardHeader {
        margin-top: 2.5vh;
        h4 {
          font-size: 1.5em;
          margin: 0;
          letter-spacing: 0.1em;
        }
      }
      .cardBody {
        height: 20vh;
        font-size: 1em;
        letter-spacing: 0.1em;
      }
    }
  }
}
