.cardBox {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  .card {
    width: 50%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 30px 30px 0 0;
    padding: 5% 10% 10% 10%;
    margin-top: 0;
    cursor: pointer;
    &:hover {
      background-color: #002129;
    }

    .cardImg {
      width: 13vh;
      height: 13vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .iconBackground {
        height: 12vh;
        position: absolute;
      }
      .iconImgApp {
        height: 8vh;
        margin-top: -3px;
        margin-left: -8px;
        position: absolute;
      }
    }
    .cardHeader {
      width: 100%;
      margin-top: 1vh;
      h4 {
        font-size: 1.2em;
        margin: 0;
        letter-spacing: 0.1em;
      }
    }
    .cardBody {
      width: 100%;
      height: 15vh;
      font-size: 0.8em;

      a {
        text-decoration: none;
        color: #fff;
        .Icon {
          margin-left: 0.5vw;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .cardBox {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    .card {
      width: 75%;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border-radius: 20px 20px 0 0;
      padding: 5% 10% 10% 10%;
      margin-top: 0;
      margin: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .cardBox {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    .card {
      width: 75%;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border-radius: 20px 20px 0 0;
      padding: 5% 10% 10% 10%;
      margin-top: 0;
      margin: 0;

      .cardImg {
        width: 53%;
        height: 13vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .iconBackground {
          height: 5%;
          position: absolute;
        }
        .iconImgApp {
          height: 5%;
          margin-top: -3px;
          margin-left: -8px;
          position: absolute;
        }
      }
      .cardHeader {
        width: 100%;
        margin-top: 1vh;
        h4 {
          font-size: 1em;
          margin: 0;
          letter-spacing: 0;
        }
      }
      .cardBody {
        width: 100%;
        height: 15vh;
        font-size: 0.7em;

        a {
          text-decoration: none;
          color: #fff;
          .Icon {
            margin-left: 0.5vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .card {
      width: 100%;
      height: 13vh;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      padding: 0% 0% 5% 5%;
      background-color: transparent;
      margin: 0;

      .cardImg {
        position: relative;
        width: 15vw;
        height: 15vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .iconBackground {
          height: 15vw;
          position: absolute;
        }
        .iconImgApp {
          height: 10vw;
          margin-top: -3px;
          margin-left: 0px;
          position: absolute;
        }
      }
      .cardHeader {
        width: 100%;
        margin-top: 1vh;
        text-align: center;
        h4 {
          font-size: 0.8em;
          margin: 0;
          letter-spacing: 0;
        }
      }
      .cardBody {
        display: none;

        a {
          .Icon {
          }
        }
      }
    }
  }
}
