.cityBox {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: transparent;

  .molinos {
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: -30vh;
    .bases {
      width: 100%;
      background-color: transparent;
    }

    .molino1 {
      position: absolute;
      bottom: 0;
      left: 49.5vw;
      width: 10%;
      height: 50%;

      .aspa1 {
        width: 100%;
        position: absolute;
        animation: rotation 4s infinite linear;
      }
    }
    .molino2 {
      position: absolute;
      bottom: 0;
      left: 61.5vw;
      width: 10%;
      height: 58%;

      .aspa2 {
        width: 100%;
        position: absolute;
        animation: rotation 4s infinite linear;
      }
    }
    .molino3 {
      position: absolute;
      bottom: 0;
      left: 73vw;
      width: 10%;
      height: 55%;

      .aspa3 {
        width: 100%;
        position: absolute;
        animation: rotation 4s infinite linear;
      }
    }
    .molino4 {
      position: absolute;
      bottom: 0;
      left: 84.5vw;
      width: 10%;
      height: 60%;

      .aspa4 {
        width: 100%;
        position: absolute;
        animation: rotation 4s infinite linear;
      }
    }
    /*ANIMATION ASPAS*/

    @-webkit-keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  .cityImg {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: -30vh;
  }
}
@media screen and (width: 1535px) and (orientation: landscape) {
  .cityBox {
    top: -25vh;
  }
}
@media screen and (width: 1024px) and (orientation: landscape) {
  .cityBox {
    top: 0;
    .molinos {
      top: 0vh;
    }
    .cityImg {
      top: 0vh;
    }
  }
}
@media screen and (width: 768px) and (orientation: portrait) {
  .cityBox {
    top: 0;
    .molinos {
      top: 0vh;
    }
    .cityImg {
      top: 0vh;
    }
  }
}

@media screen and (max-width: 823px) and (orientation: landscape) {
  .cityBox {
    top: 15vh;
  }
}

@media screen and (max-width: 414px) and (orientation: portrait) {
  .cityBox {
    top: 30vh;
  }
}