.cardDetails {
  width: 37%;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  margin-top: 0vh;
  left: 2vw;
  margin: 0;
  padding: 0;

  .cardHeader {
    width: 100%;
    height: 10vh;
    h4 {
      font-size: 1.3em;
      margin: 0;
      letter-spacing: 0.1em;
    }
  }
  .cardBody {
    width: 100%;
    height: 20vh;
    font-size: 0.8em;
    line-height: 1.5em;
    ul {
      width: 100%;
      margin-bottom: 5.5vh;
      list-style: inside;
      padding: 0;
      li {
        letter-spacing: 0.1em;
        line-height: 2em;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      width: 200px;
      height: 40px;
      padding: 10px 15px;
      background-color: #002129;
      border: #002129 3px solid;
      border-radius: 30px;
      text-align: center;
      .Icon {
        margin-left: 0.5vw;
      }
      &:hover {
        background-color: #002120;
        border: #002120 3px solid;

        transform: background-color border 0.2s;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cardDetails {
    width: 45%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    margin-top: 10vh;
    margin: 0;
    padding: 0;

    .cardHeader {
      width: 100%;
      height: auto;
      h4 {
        font-size: 1em;
        margin: 0;
        letter-spacing: 0.1em;
      }
    }
    .cardBody {
      width: 100%;
      height: auto;
      font-size: 0.8em;
      line-height: 1em;
      ul {
        width: 100%;
        margin-bottom: 5.5vh;
        list-style: inside;
        padding: 0;
        li {
          letter-spacing: 0em;
          line-height: 1.5em;
        }
      }

      a {
        text-decoration: none;
        color: #fff;
        width: 200px;
        height: 40px;
        padding: 10px 15px;
        background-color: #002129;
        border: #002129 3px solid;
        border-radius: 30px;
        text-align: center;
        .Icon {
          margin-left: 0.5vw;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .cardDetails {
    display: none;
  }
}

@media screen and (max-width: 823px) and (orientation: landscape)  {
  .cardDetails {
    display: none;
  }
}