.descriptionBox {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 7;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  color: #fff;

  .description {
    width: 90vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
   
    .descriptionTitle {
      position: relative;
      width: 30vw;
      font-size: 2em;
      letter-spacing: 0.1em;
      color: hsl(54, 69%, 70%);
      margin-top: 0;
      top: 100vh;
    }
    .descriptionText {
      width: 30vw;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      line-height: 1.5em;
      position: relative;
      top: 100vh;
    }
    .pageChanger {
      position: relative;
      width: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: aliceblue thin solid;
      border-radius: 20px;
      top: 110vh;
      right: -83vw;
    }
    .lineDivision {
      width: 0px;
      height: 35px;
      border: aliceblue thin solid;
    }
    .btnLeftPage,
    .btnRightPage {
      background-color: transparent;
      width: 50px;
      height: 35px;
      text-decoration: none;
      border: none;
      color: aliceblue;
      font-size: 0.8em;
    }
    .btnLeftPage:hover,
    .btnRightPage:hover {
      transition: 0.2s;
      transform: scale(1.1, 1.1);
    }
    .appsListBox {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 9vh;
      margin-bottom: 0;
      position: relative;
      top: 100vh;
    }
  }
}

@media screen and (max-width: 768px) {
  .descriptionBox {
    width: 100vw;
    height: auto;
    position: absolute;
    z-index: 6;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    .description {
      width: 80vw;
      .pageChanger {
        position: absolute;
        width: 75px;
        top: 100vh;
        right: 0vw;
        margin-right: 5vw;
        margin-bottom: 5vh;
        .btnLeftPage,
        .btnRightPage {
          height: 25px;
        }
      }
      .descriptionTitle {
        position: relative;
        width: 50vw;
        font-size: 1.5em;
        margin-top: 15vh;
        margin-bottom: 2vh;
        margin-left: 0vw;
        top: 100vh;
      }
      .descriptionText {
        position: relative;
        width: 70vw;
        margin-top: 0;
        margin-bottom: 0vh;
        margin-left: 0vw;
        font-size: 0.8em;
        line-height: 1.5em;
        top: 100vh;
      }
      .appsListBox {
        position: relative;
        width: 70vw;
        margin-top: 5vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 0;
        top: 100vh;
      }
    }
  }
}

@media screen and (max-width: 823px) and (orientation: landscape) {
  .descriptionBox {
    .description {
      .pageChanger {
        position: absolute;
        width: 75px;
        top: 100vh;
        right: 0vw;
        margin-right: 5vw;
        margin-bottom: 5vh;
        .btnLeftPage,
        .btnRightPage {
          height: 25px;
        }
      }
      .descriptionText {
        margin-top: 1vh;
        font-size: 0.7em;
      }
      .appsListBox {
        width: 80vw;
        margin-top: 35vh;
      }
    }
  }
}
