.descriptionBox {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 99999999;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  //   background-color: lime;
  .description {
    width: 90%;
    height: 85vh;
    border: thin solid darkmagenta;
    // background-color: darkmagenta;
    .descriptionTitle {
      width: 30vw;
      font-size: 2em;
      letter-spacing: 0.1em;
      color: hsl(54, 69%, 70%);
      margin-top: 8vh;
    }
    .descriptionText {
      width: 35vw;
      font-size: 1em;
      letter-spacing: 0.1em;
      line-height: 1.5em;
    }
    .pageChanger {
      width: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: aliceblue thin solid;
      border-radius: 20px;
      position: absolute;
      right: 5vw;
    }
    .lineDivision {
      width: 0px;
      height: 35px;
      border: aliceblue thin solid;
    }
    .btnLeftPage,
    .btnRightPage {
      background-color: transparent;
      width: 50px;
      height: 35px;
      text-decoration: none;
      border: none;
      color: aliceblue;
      font-size: 0.8em;
    }
    .btnLeftPage:hover,
    .btnRightPage:hover {
      transition: 0.2s;
      transform: scale(1.1, 1.1);
    }
    .appsListBox {
      width: 100%;
      background-color: darkorange;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 12vh;
      .card1,
      .card2,
      .card3,
      .card4 {
        width:22%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: darkred;
        margin-top: 0;

        .cardImg {
          width: 100%;
          height: 13vh;
          background-color: darkslateblue;
        }
        .cardHeader {
          width: 100%;
          background-color: dimgray;
          h4 {
            font-size: 1.2em;
            margin: 0;
            letter-spacing: 0.1em;
          }
        }
        .cardBody {
          width: 100%;
          height: 13vh;
          background-color: darkslategray;
          font-size: 0.8em;

          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
      .card3 {
        margin-right: 2.5vw;
      }
      .card4 {
        .cardBody {
          width: 100%;
          height: 25.5vh;
          background-color: darkslategray;
          ul {
            margin-bottom: 5vh;
            li {
              line-height: 3em;
            }
          }
          a {
            background-color: darkslateblue;
            border-radius: 30px;
            padding: 1vh 2vw;
            margin: 5vh 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1366pxx) {
  .descriptionBox {
    .description {
      .descriptionTitle {
        width: 90vw;
        font-size: 2.3em;
        margin-top: 5vh;
        margin-left: 0vw;
      }
      .descriptionText {
        width: 45vw;
        margin-left: 0vw;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .descriptionBox {
    .description {
      width: 90vw;
      height: 85vh;
      .descriptionTitle {
        margin-top: 2.5vh;
        margin-left: 0vw;
      }
      .descriptionText {
        width: 64vw;
        margin-left: 0vw;
        font-size: 0.9em;
      }
    }
  }
}
@media screen and (max-width: 754px) {
  .descriptionBox {
    .description {
      .descriptionTitle {
        font-size: 2em;
        margin-top: 5vh;
        margin-left: 0vw;
      }
      .descriptionText {
        width: 80vw;
      }
    }
  }
}
