.header {
  width: 100%;
  height: 15vh;
  position: absolute;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  z-index: 99999;
  .burger {
    display: none;
  }
  .logoBtn {
    position: relative;
    height: 7vh;
    background-color: transparent;
   
    .logoImg {
      position: relative;
      height: 100%;
    }
  }
  .separationHeader {
    flex-grow: 1;
  }
  .navbar {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-right: 2vw;
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
   
    .logoBtn {
      height: 5vh;
    }
  }
}

// @media screen and (max-width: 754px) {
//   .header {
//     z-index: 9999999999999999;
//     .burger {
//       display: flex;
//       width: 6vh;
//       height: 6vh;
//       background-color: transparent;
//       border: none;
//       right: 5vw;
//       position: absolute;
//       padding: 0;
//       font-size: 1.3em;
//       color: #ffffff;
//       align-items: center;
//       justify-content: center;
//     }
//     .navbar {
//       visibility: hidden; //////////////////////////////////////////////////////TEMPORAL
//       background-color: rgba(0, 193, 247, 0.1);
//       position: absolute;
//       width: 100vw;
//       height: 90vh;
//       display: flex;
//       top: 10vh;
//       flex-direction: column;
//       align-content: space-around;
//       justify-content: flex-start;

//       li {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: flex-start;
//         margin: 5vh 10vw;
//       }
//     }
//   }
// }
