.header {
  width: 100%;
  height: 15vh;
  position: fixed;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  z-index: 11;
  .burger {
    display: none;
  }
  .logoBtn {
    position: relative;
    height: 7vh;
    background-color: transparent;
    margin-left: 2vw;
    cursor: pointer;


    .logoImg {
      position: relative;
      height: 100%;
    }
  }
  .separationHeader {
    flex-grow: 1;
  }
  .navbarBox {
    display: none;
  }
  .navbar {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-right: 2vw;
      a {
        text-decoration: none;
        color: #ffffff;
        &:hover {
          color: #c3c3c3;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    .logoBtn {
      height: 5vh;
    }
    .navbarBox {
      display: none;
    }
  }
}

@media screen and (max-width: 823px) {
  .header {
    .logoBtn {
      margin-left: 5vw;
    }
    .burger {
      display: flex;
      width: 6vh;
      height: 6vh;
      background-color: transparent;
      border: none;
      right: 5vw;
      position: absolute;
      padding: 0;
      font-size: 1.3em;
      color: #ffffff;
      align-items: center;
      justify-content: center;
    }

    .burger:focus {
      outline: 0;
    }

    .navbar {
      background-color: rgba(0, 193, 247, 1);
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: -100vh;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-align: center;
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 5vh 15vw;

        &:first-child {
          margin-top: 20vh;
        }
      }
    }
  }
}
