.introBox {
  width: 100%;
  height: 100vh;
  color: #fff;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  pointer-events: none;
  .intro {
    opacity: 100%;
    width: 75vw;
    height: 45vh;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -5vw;

    h1 {
      width: 40vw;
      font-size: 2.5em;
      font-weight: 700;
      margin: 0;
    }
    h3 {
      width: 35vw;
      font-size: 1.1em;
      font-weight: 300;
      margin: 5vh 0;
      letter-spacing: 0.1em;
      line-height: 1.5em;
    }
    .contactBtn {
      width: 138px;
      height: 40px;
      padding: 15px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: #1f5091;
      border: none;
      border-radius: 40px;
      color: aliceblue;
      font-size: 0.8em;
      font-weight: 600;
      letter-spacing: 0.1em;
      -webkit-appearance: none;
      cursor: pointer;

      &:hover {
        background-color: #2e6ec2;
      }
    }
  }
}
@media screen and (max-width: 1366px) and (orientation: landscape) {
  .introBox {
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    .intro {
      opacity: 100%;
      width: 65vw;
      height: 40vh;
      margin-top: 15vh;
      margin-left: 7vw;

      h1 {
        width: 100%;
      }
      h3 {
        width: 100%;
        margin: 2vh 0;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .introBox {
    .intro {
      opacity: 100%;
      width: 70vw;
      height: 40vh;
      margin-top: 55vh;

      h1 {
        width: 100%;
      }
      h3 {
        width: 100%;
        margin: 2vh 0;
      }

      .contactBtn {
        width: 138px;
        height: 40px;

        padding: 15px 0 30px 0;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .introBox {
    justify-content: center;

    .intro {
      width: 80vw;
      height: 40vh;
      margin-top: 45vh;
      opacity: 100%;
      margin-left: 0;

      h1 {
        width: 100%;
        font-size: 1.5em;
      }
      h3 {
        width: 100%;
        margin: 2.5vh 0;
        font-size: 0.8em;
      }
      .contactBtn {
        height: 40px;
        padding: 15px 0 15px 0;
        font-size: 0.7em;
      }
    }
  }
}

@media screen and (max-width: 754px) and (orientation: landscape) {
  .introBox {
    width: 100vw;
    height: 100vh;
    .intro {
      opacity: 100%;
      width: 55vw;
      margin-left: 10vw;
      margin-top: 15vh;

      h1 {
        width: 100%;
        font-size: 1.2em;
      }
      h3 {
        width: 100%;
        margin: 2.5vh 0;
        font-size: 0.8em;
        line-height: 1.2em;
      }
      .contactBtn {
        width: 105px;
        height: 30px;
        padding: 15px 0 15px 0;
        font-size: 0.7em;
      }
    }
  }
}
