.groundBox {
  width: 100%;
  height:100vh;
  position: absolute;
  background-color: transparents;
  z-index: 999999999;
  overflow: hidden;

  .groundImg {
    width: 110%;
    position: absolute;
    top: -20vh;
  }
}

// @media screen and (width: 1536px) and(max-width: 1536px) {
//   .groundBox {
//     .groundImg {
//       top: 0;
//     }
//   }
// }

@media screen and (max-width:1024px) {
  .groundBox {
    .groundImg {
      top: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .groundBox {
    .groundImg {
      top: 0;
    }
  }
}
@media screen and (max-width: 754px) and (orientation: landscape) {
  .groundBox {
    .groundImg {
      top:-32vh;
    }
  }
}
