.groundImg {
  position: absolute;
  width: 120%;
  top: -35vh;
  left: 0;
  z-index: 99999;
}


@media screen and (max-width: 1024px) {
  .groundImg {
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .groundImg {
    top: 0;
  }
}
@media screen and (max-width: 754px) and (orientation: landscape) {
  .groundImg {
    top: -32vh;
  }
}
