.formsBox {
  width: 100vw;
  height: 100vh;
  // background-color: lightcyan;
  position: absolute;
  z-index: 99999999;
  .form1 {
    width: 100%;
    height: 100%;
    // background-color: lightsalmon;
    .form1 {
      width: 43%;
      max-width: 43%;
      height: auto;
      position: absolute;
      top: 8vh;
    }
  }
  .form2 {
    width: 70%;
    // background-color: lightsalmon;
    .form2 {
      width: 10%;
      height: auto;
      position: absolute;
      top: 35vh;
      left: 65vw;
    }
  }
  .form3 {
    width: 100%;
    max-width: 45%;
    // background-color: lightsalmon;
    .form3 {
      width: 25%;
      height: auto;
      position: absolute;
      top: -2.5vh;
      right: 0;
    }
  }
}
@media screen and (max-width: 1024px) {
  .formsBox {
    .form1 {
      .form1 {
        width: 55%;
        max-width: 65%;
        top: 10vh;
      }
    }

    .form3 {
      .form3 {
        top: 5vh;
        right: 0;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .formsBox {
    overflow-x: hidden;
    .form1 {
      .form1 {
        width: 105%;
        max-width: 110%;
        margin-top: 10vh;
      }
    }
    .form2 {
      .form2 {
        display: none;
        visibility: hidden;
      }
    }
    .form3 {
      .form3 {
        top: 7vh;
        right: 0;
      }
    }
  }
}
@media screen and (max-width: 754px) {
  .formsBox {
    
    overflow-x: hidden;
    .form1 {
      .form1 {
        width: 140%;
        max-width: 200%;
        top: 23vh;
        left: -10vw;
      }
    }
    .form2 {
      .form2 {
        display: none;
        visibility: hidden;
      }
    }
    .form3 {
      .form3 {
        top: 2vh;
        right: 0vw;
        width: 55vw;
        max-width: 55vw;
      }
    }
  }
}

@media screen and (max-width: 754px) and (orientation:landscape) {
  .formsBox {    
    overflow-x: hidden;
    .form1 {
      .form1 {
        width: 105%;
        max-width:200%;
        top: -15vh;
        left: -5vw;
      }
    }
    .form2 {
      .form2 {
        display: none;
        visibility: hidden;
      }
    }
    .form3 {
      .form3 {
        display: none;
        visibility: hidden;
      }
    }
  }
}