.formsBox {
  width: 100vw;
  height: 100vh;
  // background-color: lightcyan;
  position: absolute;
  z-index: 99999999;
  .form1 {
    width: 100%;
    height: 100%;
    // background-color: lightsalmon;
    .form1 {
      width: 45%;
      height: auto;
      position: absolute;
      top: 15vh;
    }
  }
  .form2 {
    width: 100%;
    height: 100%;
    // background-color: lightsalmon;
    .form2 {
      width: 10%;
      height: auto;
      position: absolute;
      top: 41vh;
      left: 64vw;
    }
  }
  .form3 {
    width: 100%;
    height: 100%;
    // background-color: lightsalmon;
    .form3 {
      width: 25%;
      height: auto;
      position: absolute;
      top: 0vh;
      right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .formsBox {
    .form1 {
      .form1 {
        width: 50%;
      }
    }

    .form3 {
      .form3 {
        top: 5vh;
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 754px) {
  .formsBox {
    .form1 {
      .form1 {
        width: 60%;
      }
    }
    .form2 {
      .form2 {
        width: 15%;
        top: 30vh;
        left: 70vw;
      }
    }
    .form3 {
      .form3 {
        top: 10vh;
        width: 18vh;
      }
    }
  }
}

@media screen and (max-width: 754px) and (orientation: landscape) {
  .formsBox {
    .form1 {
      .form1 {
        width: 40%;
      }
    }
    .form2 {
      .form2 {
        width: 10%;
        top: 40vh;
        left: 65vw;
      }
    }
  }
}
