.formsBox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;
  overflow: hidden;

  .form1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100vh;
    left: 0vw;

    .form1Img {
      position: relative;
      width: 40%;
      height: auto;
      top: 10vh;
    }
  }
  .form2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100vh;
    .form2Img {
      position: relative;
      width: 10%;
      height: auto;
      top: 35vh;
      left: 65vw;
    }
  }
  .form3 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0vw;
    top: 100vh;
    .form3Img {
      position: relative;
      width: 25%;
      height: auto;
      left: 76vw;
      top: -2.5vh;
      right: 0;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .formsBox {
    .form1 {
      .form1Img {
        position: relative;
        width: 55%;
        height: auto;
        top: 5vh;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .formsBox {
    overflow: hidden;
    .form1 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 100vh;
      left: 0vw;

      .form1Img {
        position: relative;
        width: 80%;
        height: auto;
        top: 10vh;
      }
    }
    .form2 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 100vh;
      .form2Img {
        position: relative;
        width: 10%;
        height: auto;
        top: 35vh;
        left: 80vw;
      }
    }
    .form3 {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0vw;
      top: 100vh;
      .form3Img {
        position: relative;
        width: 25%;
        height: auto;
        left: 76vw;
        top: -2.5vh;
        right: 0;
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .formsBox {
   
    .form1 {
     

      .form1Img {
        position: relative;
        width: 100%;
        height: auto;
        top: 10vh;
      }
    }
  
   
  }
}